/*Your Account*/
accounts-container {
    padding-left: 630px;
}

/*
.your-account {
    background-color:red;
}*/


/* Home Page */
.prod-img{
    width: 100%;
}

.category-name {
    text-align: center;
}