
<button>Start listing</button>

<ul>
  <li>Shipping fee details</li>
  <hr/>
  <button>Set rates</button>
</ul>

<ul>
  <li>Bank Account</li>
  <hr/>
  <li>Account holder name</li>
  <li>Account type</li>
  <li>Re-enter Account number</li>
  <li>IFSC code</li>
  <button>Save</button>
</ul>

<ul>
  <li>Enter Tax details</li>
  <hr/>
  <li>PAN number</li>
  <li>Provisional GSTIN</li>
  <li>Re-enter Account number</li>
  <button>Save</button>
</ul>

<ul>
  <li>Default Product Tax Code</li>
  <hr/>
  <li>PTC</li>
  <button>Save</button>
</ul>

<ul>
  <li>Signature</li>
  <hr/>
  <li>Upload your signature</li>
  <button>Save</button>
</ul>