<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

{{object}}

<h3>About your business</h3>
<b>Selleer Information</b>
<ul>
  <li>store name</li>
  <li>select product category</li>
  <hr/>
  <li><b>Enter your address</b></li>
  <li>pincode</li>
  <li>Address Line 1(Required)</li>
  <li>Address Line 2</li>
  <li>City</li>
  <li>State</li>
  <li>Country/Region</li>

  <li><input type="button" value="Continue"></li>

</ul>

<b>Update your Tax details</b>
<ul>
  <li>I have GST number</li>
  <p>Enter yout tax details</p>
  <select>
    <option>Select State</option>
  </select>
  <li>Provisional GSTIN</li>
  <li>PAN number</li>
  <li>I will update later</li>
  <li>I sell in GST Exempted Category</li>
  <li>I don't have it handy, will update later</li>
  <li>I have never registered for GST</li>

  <li><input type="button" value="Next"></li>
</ul>

<b>Seller Interview</b>
<ul>
  <li>Choose category you wish to sell</li>
</ul>
</body>
</html>